.StartYourCacbon-container {
	height          : 660px;
	width           : 100%;
	background-color: rgba(243, 243, 243, 1) !important;

	.StartYourCacbon-content {
		height: 660px;
		width : 100%;

		.StartYourCacbon-content-top {
			height: 25%;

			.StartYourCacbon-content-top-content {
				height        : 100%;
				text-align    : center;
				padding-top   : 70px !important;
				padding-bottom: 30px !important;

				p {
					font-size  : 40px;
					font-family: system-ui;
					font-weight: 700;
					color      : #45625D;
				}
			}
		}


		.StartYourCacbon-content-bottom {
			height         : 75%;
			float          : none !important;
			top            : 0 !important;
			left           : 0 !important;
			width          : 100% !important;
			position       : relative !important;
			padding-top    : 40px !important;
			padding-left   : 30px !important;
			padding-bottom : 90px !important;
			max-width      : none !important;
			padding-right  : 30px !important;
			min-width      : 0 !important;
			text-align     : center !important;
			display        : flex;
			flex-direction : row;
			justify-content: center;
			align-items    : center;

			.StartYourCacbon-content-bottom-content {
				display: flex;
				gap    : 20px;
				width  : 70%;
				height : 100%;


				.StartYourCacbon-content-bottom-content-left {
					display         : flex;
					flex-direction  : column;
					justify-content : center;
					align-items     : center;
					background-color: white;

					.icon {
						background-image : url("../../../assets/images/caculation.png") !important;
						background-size  : contain;
						/* Giữ tỉ lệ hình ảnh */
						background-repeat: no-repeat;
						width            : 40px;
						/* Kích thước hình ảnh */
						height           : 42px;
						margin           : 15px auto;
						/* Căn giữa theo chiều ngang */
					}

					.start-title {
						color      : #45625D;
						font-size  : 19px;
						font-weight: 900;
					}

					.paragraph {
						font-size   : 20px;
						margin-left : 20%;
						height      : 34%;
						margin-right: 20%;
					}

					.calculate-now {
						height          : 35px;
						width           : 190px;
						border-radius   : 5%;
						cursor          : pointer;
						background-color: #45625D;
						color           : white;
						border          : none;
						margin-top      : 40px;
					}
				}

				.StartYourCacbon-content-bottom-content-center {
					display         : flex;
					flex-direction  : column;
					justify-content : center;
					align-items     : center;
					background-color: white;

					.icon {
						background-image : url("../../../assets/images/pine-tree.png") !important;
						background-size  : contain;
						/* Giữ tỉ lệ hình ảnh */
						background-repeat: no-repeat;
						width            : 40px;
						/* Kích thước hình ảnh */
						height           : 42px;
						margin           : 15px auto;
						/* Căn giữa theo chiều ngang */
					}

					.start-title {
						color      : #45625D;
						font-size  : 19px;
						font-weight: 900;
					}

					.paragraph {
						font-size   : 20px;
						margin-left : 20%;
						height      : 34%;
						margin-right: 20%;
					}

					.see-plan {
						height          : 35px;
						width           : 190px;
						border-radius   : 5%;
						cursor          : pointer;
						background-color: #45625D;
						color           : white;
						border          : none;
						margin-top      : 40px;
					}
				}

				.StartYourCacbon-content-bottom-content-right {
					display         : flex;
					flex-direction  : column;
					justify-content : center;
					background-color: white;
					align-items     : center;

					.icon {
						background-image : url("../../../assets/images/chat.png") !important;
						background-size  : contain;
						/* Giữ tỉ lệ hình ảnh */
						background-repeat: no-repeat;
						width            : 40px;
						/* Kích thước hình ảnh */
						height           : 42px;
						margin           : 15px auto;
						/* Căn giữa theo chiều ngang */
					}


					.start-title {
						color      : #45625D;
						font-size  : 19px;
						font-weight: 900;
					}

					.paragraph {
						font-size   : 20px;
						margin-left : 20%;
						height      : 34%;
						margin-right: 20%;
					}

					.contact-us {
						height          : 35px;
						width           : 190px;
						border-radius   : 5%;
						cursor          : pointer;
						background-color: #45625D;
						color           : white;
						border          : none;
						margin-top      : 40px;
					}
				}
			}
		}
	}
}