.garbage-container {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .chart-content{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        .left-content{
            height: 50%;
            width: 25%;
            display: flex; 
            flex-direction: column;
            align-self: center;
            .household{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: right;
                align-items: center;

                .btn{
                    width: 70px;
                    height: 50px;
                    background-color: transparent;
                    svg{
                        width: 100%;
                        height: 100%;
                        fill: #3AA18D;
                    }
                }
                a{
                    width: 150px;
                    color: #3AA18D;
                    background-color: transparent;
                    font-size: 20px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
            
            .industrial{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: right;
                align-items: center;

                .btn{
                    width: 70px;
                    height: 50px;
                    background-color: transparent;
                    svg{
                        width: 100%;
                        height: 100%;
                        fill: #74B5B9;
                    }
                }
                a{
                    width: 150px;
                    color: #74B5B9;
                    background-color: transparent;
                    font-size: 20px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
            
        }
        .center-content{
            height: 100%;
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                color: #45625D;
                font-size: 50px;
                font-weight: bold;
                text-align: center;
                margin-bottom: 20px;
            }
        }
        .right-content{
            height: 50%;
            width: 25%;
            display: flex; 
            flex-direction: column;
            align-self: center;
            .medical{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: center;

                .btn{
                    width: 70px;
                    height: 50px;
                    background-color: transparent;
                    svg{
                        width: 100%;
                        height: 100%;
                        fill: #5a8869;
                    }
                }
                a{
                    width: 220px;
                    color: #5a8869;
                    background-color: transparent;
                    font-size: 20px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
            .construction{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: center;

                .btn{
                    width: 70px;
                    height: 50px;
                    background-color: transparent;
                    svg{
                        width: 100%;
                        height: 100%;
                        fill: #1A4942;
                    }
                }
                a{
                    width: 220px;
                    color: #1A4942;
                    background-color: transparent;
                    font-size: 20px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }

    }
}