@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.banner-container {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin-top: -100px;
    position: relative;
    z-index: 1;
    .banner-content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            pointer-events: none;
        }
        .text{
            position: absolute;
            font-size: 5em;
            color: #fff;
            text-shadow: 2px 2px 4px rgba(0,0,0,.2);
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
            font-weight: 800;
        }
    }
}
