@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
.banner-container {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    min-height: 100vh;
    overflow-y: hidden;
    z-index: 1;
    .banner-content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 100vh;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            pointer-events: none;
            transition: transform 0.2s ease-out;
        }
        .text {
            position: relative;
            font-size: 5em;
            color: #fff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            transition: margin-top 0.2s ease-out;
        }
    }
    .sec {
        position: relative;
        background-color: #003329;
        padding: 100px;
        h2 {
            color: #fff;
            font-size: 3em;
            margin-bottom: 10px;
        }
        p {
            color: #fff;
            font-size: 1.2em;
            font-weight: 300;
        }
    }
}
