.reality-container {
    height: 70vh;
    background-color: #ffffff;
    .reality-content {
        height: 100%;
        width: 100%;
        background: url("../../../assets/images/forest.png") center center
            no-repeat;
        background-size: cover;
        .filter {
            height: 100%;
            width: 100%;
            background-color: #1A4F45bd;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 160px 40px;
            .left-content {
                width: 25%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h1 {
                    font-size: 4rem;
                    font-weight: 700;
                    text-align: center;
                    color: #8BDB92;
                }
                .small-hr {
                    width: 50px;             
                    height: 1.5px;             
                    background-color: #8BDB92 ; 
                    border: none;            
                    margin: 10px auto;       
                    border-radius: 5px;      
                }
                p {
                    width: 60%;
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: #ffffff;
                    text-align: center;
                }
            }
            .center-content {
                width: 25%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h1 {
                    font-size: 4rem;
                    font-weight: 700;
                    text-align: center;
                    color: #8BDB92;
                }
                .small-hr {
                    width: 50px;             
                    height: 1.5px;             
                    background-color: #8BDB92 ; 
                    border: none;            
                    margin: 10px auto;       
                    border-radius: 5px;      
                }
                p {
                    width: 80%;
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: #ffffff;
                    text-align: center;
                }
            }
            .right-content {
                width: 25%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h1 {
                    font-size: 4rem;
                    font-weight: 700;
                    text-align: center;
                    color: #8BDB92;
                }
                .small-hr {
                    width: 50px;             
                    height: 1.5px;             
                    background-color: #8BDB92 ; 
                    border: none;            
                    margin: 10px auto;       
                    border-radius: 5px;      
                }
                p {
                    width: 80%;
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: #ffffff;
                    text-align: center;
                }
            }
        }
    }
}
